:root {
    --main-bg-color: bisque;
    --aux-bg-color: #D5B895;
    --main-text-color: #403831;
    --aux-text-color: #595045;
    --block-color: #C19770;
}

html {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: large;
}

a {
    text-decoration: none;
    color: var(--aux-text-color);
}

.nav-bar {
    background-color: var(--aux-bg-color);
    color: var(--aux-text-color);
    font-size: large;
    border-radius: 10px;
    padding-top: 6px;
}

a {
    margin-right:15px;
}

input[type=submit] {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: #C19770;
    height: 40px;
    width: 75px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 4px #888888;
    color: #595045;
    cursor: pointer;
}

input[type=text] {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}